    .lightbox-animation-fade-in{
        -webkit-animation: fade-in .5s ; /* Safari 4+ */
        -moz-animation:    fade-in .5s ; /* Fx 5+ */
        -o-animation:      fade-in .5s ; /* Opera 12+ */
        animation:         fade-in .5s ; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes fade-in {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
    @-moz-keyframes fade-in {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
    @-o-keyframes fade-in {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
    @keyframes fade-in {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
    
    .lightbox-animation-slide-down{
        -webkit-animation: slideDown .5s ; /* Safari 4+ */
        -moz-animation:    slideDown .5s ; /* Fx 5+ */
        -o-animation:      slideDown .5s ; /* Opera 12+ */
        animation:         slideDown .5s ; /* IE 10+, Fx 29+ */
    }


    @keyframes slideDown{
      from {
        transform: translateY(-100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }